<section
	class='tab equipments {{tab.cssClass}}'
	data-group='primary'
	data-tab='equipments'
>
	<h1>Aptitudes</h1>

	{{#each this.equipments}}
		{{#if this.show}}
		<div class="equipment-entry">
			<div class="equipment-label">{{this.label}}</div>
			<div class="equipment-trait">{{this.trait}}</div>
			<div class="equipment-die">{{this.totalRanks}}d{{this.die}}</div>
		</div>
		{{/if}}
	{{/each}}
</section>