<div class="{{cssClass}} {{type}} flexcol">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img src="{{actor.img}}" data-action="editImage" data-edit="img" height="100" width="100"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

			<div class="resources grid grid-3col">
				<div class="resource flex-group-center">
					<label for="system.maneuverability.value" class="resource-label" data-action="rollAbilityCheck" data-ability="maneuverability">{{localize 'SPEEDHEROES.maneuverability.base'}}</label>
					<div class="resource-content flexrow flex-center flex-between">
					<select name="system.maneuverability.value">
						{{selectOptions starObj selected=system.maneuverability.value localize=true}}
					</select>
					<span>{{localize 'SPEEDHEROES.modifier'}}</span>
					<select name="system.maneuverability.tmpstar">
						{{selectOptions tmpstarObj selected=system.maneuverability.tmpstar localize=true}}
					</select>

					</div>
				</div>

				<div class="resource flex-group-center">
					<label for="system.power.value" class="resource-label" data-action="rollAbilityCheck" data-ability="power">{{localize 'SPEEDHEROES.power.base'}}</label>
					<div class="resource-content flexrow flex-center flex-between">
					<select name="system.power.value">
						{{selectOptions starObj selected=system.power.value localize=true}}
					</select>
					<span>{{localize 'SPEEDHEROES.modifier'}}</span>
					<select name="system.power.tmpstar">
						{{selectOptions tmpstarObj selected=system.power.tmpstar localize=true}}
					</select>
					</div>
				</div>
				
				<div class="resource flex-group-center">
					<label for="system.robustness.value" class="resource-label" data-action="rollAbilityCheck" data-ability="robustness">{{localize 'SPEEDHEROES.robustness.base'}}</label>
					<div class="resource-content flexrow flex-center flex-between">
					<select name="system.robustness.value">
						{{selectOptions starObj selected=system.robustness.value localize=true}}
					</select>
					<span>{{localize 'SPEEDHEROES.modifier'}}</span>
					<select name="system.robustness.tmpstar">
						{{selectOptions tmpstarObj selected=system.robustness.tmpstar localize=true}}
					</select>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="">
		<div class="resource flex-group-center">
			<label for="system.energize" class="resource-label" data-action="rollAbilityCheck" data-ability="tech">{{localize 'SPEEDHEROES.tech.base'}}</label>
			<div class="resource-content flexrow flex-center flex-between">
			<select name="system.energize.value">
				{{selectOptions starObj selected=system.energize.value localize=true}}
			</select>
			<span>{{localize 'SPEEDHEROES.modifier'}}</span>
			<select name="system.energize.tmpstar">
				{{selectOptions tmpstarObj selected=system.energize.tmpstar localize=true}}
			</select>
			</div>
		</div>
		<div class="resource flex-group-center">
			<label for="system.resistance.value" class="resource-label">{{localize 'SPEEDHEROES.resistance.base'}}</label>
			<div class="resource-content flexrow flex-center flex-between">
			current
			<select name="system.resistance.value">
				{{selectOptions starObj selected=system.resistance.value localize=true}}
			</select>
			max
			<select name="system.resistance.max">
				{{selectOptions starObj selected=system.resistance.max localize=true}}
			</select>
			</div>
		</div>
	</section>
	<section class="speedheroes rollout">
		<input type="button" data-action="onRoll" data-rolltype="main" value="{{localize 'SPEEDHEROES.performance.throw'}}"/>
		<input type="button" data-action="onRoll" data-rolltype="tech" value="{{localize 'SPEEDHEROES.tech.throw'}}"/>
	</section>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.mjs --}}
		<a class="item" data-tab="techs">{{localize 'SPEEDHEROES.sheet.tab.tech'}}</a>
		<a class="item" data-tab="equipment">{{localize 'SPEEDHEROES.sheet.tab.module'}}</a>
		<a class="item" data-tab="pilot">{{localize 'SPEEDHEROES.sheet.tab.pilot'}}</a>
	</nav>	

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Owned Features Tab --}}
		<div class="tab techs active" data-group="primary" data-tab="techs">
			<section class="grid grid-3col">
				<div class="abilities flexcol">
					{{#each techs as |tech key|}}
					<div class="ability flexrow flex-group-center">
						<span><img src="{{tech.img}}" alt="{{tech.name}}"/></span>
						<label for="tech.{{key}}" class="resource-label" data-roll="" data-label="{{tech.name}}">{{tech.name}}</label>
						<span class="tech-mod rollable" data-roll="db" data-label="{{tech.description}}">{{tech.description}}</span>
					</div>
					{{/each}}
				</div>
			</section>
		</div>


		{{!-- Owned Items Tab --}}
		<div class="tab equipment" data-group="primary" data-tab="equipment">
			{{> "systems/speedheroes/templates/actor/parts/actor-equipment.hbs"}}
		</div>

		{{!-- Owned Spells Tab --}}
		<div class="tab pilot" data-group="primary" data-tab="pilot">
			{{> "systems/speedheroes/templates/actor/parts/actor-pilot.hbs"}}
		</div>
		
	</section>
</div>